@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 90.2%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.header-primary .wrapper{
  padding: 62px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger { display: none;}

.company-info-item { 
  display: flex; 
  align-items: center;
}

.bag,
.bar,
.phone-icon,
.home-icon,
.time-icon,
.search,
.cargo,
.ship,
.plane,
.storage-icon,
.truck-icon,
.warehouse-icon,
.earth-icon,
.car-icon,
.clock-icon,
.cube-icon,
.group-icon,
.thumb-icon,
.smile-icon,
.arrow { 
  display: inline-block;
  text-indent: -9999px;
}

.company-info {
  display: flex; 
  align-items: center;
}

.mobile-info,
.address-info,
.Timings { 
  padding: 0 20px;
  display: flex; 
  flex-direction: column;
}

.phone-icon::after { content: "\f095";}
.home-icon::after { content: "\e3af";}
.time-icon::after { content: "\f017";}
.bold-info { font-weight: 700; }

.phone-icon::after,
.home-icon::after,
.time-icon::after {
  color: #32AF96;
  font-family: "fontAwesome";
  font-size: 32px;
  float: right;
  text-indent: 0;
}


.pale-info {
  font-size: 13.5px;
  color: #B1AFAC;
}

.quote-btn {
  padding: 15px 27px;
  border-radius: 10px;
  background-color: #32AF96;
  color: #FFF;
  font-size: 13px;
}


.navbar { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.nav-links li a {
  padding: 20px;
  color: #FFF;
  font-size: 16px;
}

.header-secondary { background-color: #101010; }
.nav-links li a.active { color: #32AF96; }
.nav-links li a.active + .caret::after {color: #32AF96;}

.dropdown { 
  min-width: 145px;
  display: none; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  color: #000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown li a {
  padding: 18px 52px;
  display: block;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown li a:hover {
  background-color: #32AF96;
  color: #f1f1f1;
  transition: .4s ease-in;
}

.home-menu,
.page-menu,
.gallery-menu,
.service-menu,
.about-menu,
.blog-menu,
.shop-mnu {
  position: relative;
}

.bag::after { content: "\f290";}
.search::after { content: "\f002";}

.bag::after,
.search::after {
  padding: 5px;
  color: #FFF;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}

.active-caret::after,
.caret::after {
  content: "\f0d7";
  padding-left: 8px;
  color: #FFF;
  font-family: "fontAwesome";
}

.active-caret::after { color: #32AF96;}

/* .caret::after:first-of-type { color: #32AF96;} */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling starts here */

.banner {
  padding-bottom: 95px;
  position: relative;
  background-color: #000;
  color: #FFF;
  text-align: center;
}

.banner::before {
  content: '';
  background-image: url('/assets/Images/slider.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .6;
}

.slogan {
  padding-top: 17px;
  position: relative;
  font-size: 104px;
  font-weight: 600;
  text-align: center;
}

.subtext { 
  position: relative;
  font-size: 15px; 
}

.subtext:last-of-type { padding: 20px 0 13px; }

.read-more-btn,
.contact-btn {
  padding: 15px 25px;
  border-radius: 8px;
  position: relative;
  background-color: #32AF96;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-btn {
  margin-left: 9px;
  background-color: #FFF;
  color: #CCC;
}

.transport {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.transport-txt {
  padding-top: 15px;
  color: #7F7F7F
}

.transport-item {
  padding: 25px;
  margin: 0 3% 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 22.7%;
  background-color: #FFF; 
}

.transport-item > span:first-of-type { display: block;}
.transport-item:nth-child(4n) { margin-right: 0;}

.cargo::after,
.ship::after,
.plane::after {
  color: #32AF96;
  font-family: "fontAwesome";
  font-size: 90px;
  float: right;
  text-indent: 0;
}

.cargo::after {content: "\f0d1";}
.ship::after {content: "\e4ea";}
.plane::after {content: "\e22d";}
/* banner section styling endss here */

/* service section styling starts here */

.services {margin-top: 100px;}

.heading-txt {
  font-size: 28px;
  font-weight: 600;
}

.services .wrapper .heading-txt { 
  padding-bottom: 20px;
  text-align: center; 
}

.services .wrapper .heading-txt::after {
  content: "";
  width: 39px;
  margin: 10px auto 0px;
  border-bottom: 3px solid #32AF96;
  display: block;
}

/* service section styling ends here */

.truck-icon::after {content: "\f0d1";}
.storage-icon::after {content: "\f1c0";}
.clock-icon::after {content: "\f017";}
.car-icon::after {content: "\f1b9";}
.warehouse-icon::after {content: "\f494";}
.earth-icon::after {content: "\f57e";}

.truck-icon::after,
.storage-icon::after,
.clock-icon::after,
.car-icon::after,
.warehouse-icon::after,
.earth-icon::after {
  padding: 10px;
  font-family: "fontAwesome";
  float: right;
  text-indent: 0;
}

.services-flex {
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  padding: 20px;
  margin: 0 2% 20px 0;
  border: 1px solid #F4F4F4;
  display: flex;
  flex-basis: 30%;
}

.service-item:nth-child(3n) { margin: 0 0 20px 0;}

.service-item-txt {
  color: #333;
  font-weight: 600;
}

.service-item-subtxt { 
  padding-top: 18px;
  color: #B0ACB6;
  font-size: 14px;
  line-height: 18px;
}

.service-item span {
  height: fit-content;
  margin-right: 13%;
  border-radius: 50%;
  background-color: #EEE;
  text-align: center;
}

.about-us-content .heading-txt { text-align: left;}

.about-us-content .heading-txt::after {
  content: "";
  width: 47px;
  margin: 10px 0;
  border-bottom: 3px solid #32AF96;
  display: block;
}


.about-subtxt {
  color: #BBBBBB;
  font-size: 15px;
  line-height: 24px;
}

.about-subtxt:last-of-type{ padding: 45px 0 23px;}

.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.about-us-content {
  padding: 0 0 107px 5%;
  margin-right: 8%;
  flex-basis: 40%;
}

.modal { 
  flex-basis: 52%;
  position: relative;
  background-color: #000;
}

.modal img { opacity: .5;}

.modal::before {
  content: "\f04b";
  padding: 20px 30px;
  border: 3px solid #EEE;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-family: "fontAwesome";
  font-size: 60px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, .95);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .4s ease-in-out;
  visibility: hidden;
}

.video-container.active {
  z-index: 99;
  opacity: 1;
  visibility: visible;
}

.video-container video {
  max-width: 900px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  text-indent: -9999px;
}

.modal-close::after {
  content: "\f00d";
  font-family: "fontAwesome";
  font-size: 50px;
  float: right;
  text-indent: 0;
}
/* services section styling ends here */

/* counter styling starts here */
.counter-container {
  padding-top: 70px;
  background-color: #333;
}

.cube-icon::after {content: "\f1b3";}
.thumb-icon::after {content: "\f164";}
.group-icon::after {content: "\e533";}
.smile-icon::after {content: "\f118";}

.cube-icon::after,
.thumb-icon::after,
.group-icon::after,
.smile-icon::after {
  color: #32AF96;
  font-family: "fontAwesome";
  font-size: 40px;
  float: right;
  text-indent: 0;
}

.stats-counter {
  display: flex;
  flex-wrap: wrap;
}

.stats-item {
  margin: 0 8.5% 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 18.6%;
}

.stats-item:nth-child(4n) { margin: 0 0 10px 0; }

.target{
  padding:15px 0 26px;
  color: #FFF;
  font-size: 35px;
}

.stat-name {
  color: #C6C6C6;
  font-size: 13.5px;
  font-weight: 600;
  text-transform: uppercase;
}
/* counter styling ends here */

/* feature section styling starts here */
.feature { margin-top: 98px;}
.feature .wrapper { display: flex;}
.feature .wrapper > * { flex: 1;}
.panel.active { display: block;}
.feature .wrapper > *:nth-child(odd) { margin-right: 3.7%; }
.special-accordian { margin-top: 30px; }

.panel {
  padding: 23px 20px;
  border-top: 1px solid #DEDEDE;
  display: none;
  line-height: 24px;
}

.panel p { 
  color: #BBBBBB; 
  font-size: 14px;
}

.arrow {
  padding: 20px 5% 20px 0;
  flex-basis: 13%;
  background: #F9F9F9;
}

.read-more::after,
.arrow::after {
  content: "\f061";
  padding-left: 20px;
  color: #BBB;
  font-family: "fontAwesome";
  font-weight: 900;
  float: right;
  text-indent: 0;
}

.accordian-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accordian-item {
  display: block;
  border: 1px solid #EEE;
}

.feature-txt {
  color: #33333D;
  font-size: 16px;
  font-weight: 600;
}

.feature-txt a { 
  padding: 20px;
  color: #33333D; 
}

.cruise::before {content: "\e4ea";}
.flight::before {content: "\e22d";}
.trucks::before {content: "\f0d1";}
.globe::before {content: "\f57e";}

.cruise::before,
.flight::before,
.trucks::before,
.globe::before {
  padding: 16px 0 16px 19px;
  color: #BBBBBB;
  font-family: "fontAwesome";
  font-size: 24px;
  float: left;
  text-indent: 0;
}

.news { margin-bottom: 90px;}
.post { flex-basis: 48%;}
.post:nth-child(odd) { margin: 0 4% 10px 0; }

.news-post {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.post-content {
  padding: 20px;
  border: 1px solid #EEE;
}

.date {
  padding: 20px 0;
  display: inline-block;
  color: #A6A4B4;
  font-size: 14px;
}

.date::before {
  content: "\f017";
  padding-right: 10px;
  color: #32AF96;
  font-family: "fontAwesome";
  font-size: 14px;
}

.post-txt {
  color: #A6A4B4;
  font-size: 15px;
  line-height: 25px;
}

.read-more {
  padding-top: 20px;
  color: #888888;
  font-weight: 600;
}

.read-more::after {
  padding-left: 10px;
  color: #888888;
}
/* feature section styling ends here */
/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 1226px starts here*/
@media only screen and (max-width: 1226px) {
  .phone-icon::after, 
  .home-icon::after, 
  .time-icon::after {
    font-size: 24px;
  }

  .bold-info { font-size: 15px; }
  .slogan { font-size: 80px; }
}  
/*media query for 1226px starts here*/


/*media query for 1145px starts here*/
@media only screen and (max-width: 1145px ){
  .header-primary .wrapper {
    padding: 30px 0;
    flex-wrap: wrap; 
  }

  .header-primary .wrapper h1 { 
    padding-bottom: 10px;
    flex-basis: 25%;
  }

  .company-info { 
    flex-grow: 1; 
    justify-content: space-between;
  }

  .cargo::after, 
  .ship::after, 
  .plane::after {
    font-size: 65px;
  }

  .transport-txt { font-size: 14px;}
  .nav-links li a { padding: 20px 10px; }
}
/*media query for 1145px ends here*/

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .nav-links li a { font-size: 14px; }
  .transport-item:nth-child(even) { margin-right: 0;}
  .modal {margin: 15px 5%;}
  .feature .wrapper { flex-direction:  column; }
  .video-container video { max-width: 90%; }
  .stats-item { margin: 20px 0;}
  .stats-item:nth-child(4n) { margin: 20px 0;}
  .counter-container { padding-top: 0; }
  .special { margin-bottom: 20px;}
  
  .slogan { 
    font-size: 60px; 
    letter-spacing: 14px;
  }

  .cargo::after, 
  .ship::after, 
  .plane::after {
    font-size: 50px;
  }

  .transport-item { 
    padding: 20px; 
    flex-basis: 48.5%;
  } 

  .about-us {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .stats-counter {
    flex-direction: column;
    align-items: center;
  }
}
/*media query for 995px ends here*/

/*media query for 878px starts here*/
@media only screen and (max-width: 876px){
  .nav-links li a { font-size: 11px; }
  .bold-info { font-size: 12px; }

  .quote-btn { 
    padding: 12px 20px;
    font-size: 12px; 
  }

  .phone-icon::after, 
  .home-icon::after, 
  .time-icon::after {
    font-size: 20px;
  }
}
/*media query for 878px ends here*/

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .header-secondary {padding: 10px 0;}
  .header-secondary .wrapper { width: 84%; }
  .services .wrapper .heading-txt::after { margin: 10px 0; }
  .company-info > * { padding-top: 10px;}
  .nav-links { display: none;}
  .hamburger.active .bar:nth-child(2) { opacity: 0;}
  .hamburger.active .bar:nth-child(1) { transform: translateY(2px) rotate(45deg);}
  .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg);}
  .services-flex { flex-direction: column;}
  .services { margin-top: 70px;}
  .services .wrapper .heading-txt { text-align: left;}
  .news-post {flex-direction: column;}
  .heading-txt {font-size: 24px;}
  .special-accordian {margin-bottom: 30px;}
  .post:nth-child(odd) { margin: 0 0 10px 0; }
  .quote-btn { padding: 15px 27px; }

  .hamburger { 
    display: block; 
    cursor: pointer;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
  }

  .header-primary .wrapper {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slogan { 
    padding-bottom: 15px;
    font-size: 50px; 
    letter-spacing: 10px;
  }

  .read-more-btn, .contact-btn {
    padding: 10px 18px;
    font-size: 14px;
  }

  .nav-links {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 46px;
    left: 100%;
    background-color: #101010;
    transition: .4s linear;
  }

  .nav-links.is-active { 
    display: flex;
    left: 0; 
  }

  .nav-links li a {
    max-width: 200px;
    width: 100%;
    margin: 6px;
    display: block;
    color: #32AF96;
    font-size: 14px;
  }

  .bar {
    width: 15px;
    height: 2px;
    margin: 3px auto;
    display: block;
    background-color: #FFF;
    transition: all 0.3s ease-in-out;
  }

  
  .hide-scroll {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .subtext { 
    font-size: 12px;
    line-height: 20px;
  }
}
/*media query for 768px ends here*/

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  .cruise::before, 
  .flight::before, 
  .trucks::before, 
  .globe::before {
    padding: 19px 10px;
    font-size: 14px;
  }

  .read-more-btn, .contact-btn {
    padding: 7px 14px;
    border-radius: 8px;
    font-size: 12px;
  }

  .slogan { 
    font-size: 32px;
    letter-spacing: 5px; 
  }

  .feature-txt a { 
    padding: 20px 0;
    font-size: 12px; 
  }
  
  .arrow { 
    padding: 0 5px;
    flex-basis: 10%; 
  } 

  .transport { flex-direction: column;}
  .transport-item { margin-right: 0;}
  .arrow::after { padding: 19px 10px;}
  .heading-txt { font-size: 20px;}
  .contact-btn { margin-left: 0;}
}
/*media query for 480px starts here*/

/*media query for adding hover effects above 768px*/
@media only screen and (min-width: 768px) {
  .home-menu:hover > .dropdown,
  .page-menu:hover > .dropdown,
  .gallery-menu:hover > .dropdown,
  .service-menu:hover > .dropdown,
  .about-menu:hover > .dropdown,
  .blog-menu:hover > .dropdown,
  .shop-menu:hover > .dropdown {
    display: flex;
  }

  .search:hover::after,
  .bag:hover::after,
  .nav-links li a:hover,
  .nav-links li a:hover::after {
    color: #32AF96;
  }

  .quote-btn:hover {
    color: #32AF96;
    background-color: #000;
    transition: .4s ease-in;
  }

  .read-more-btn:hover {
    color: #32AF96;
    background-color: #EEE;
    transition: .4s ease-in;
  }

  .contact-btn:hover {
    color: #FFF;
    background-color: #CCC;
    transition: .4s ease-in;
  }

  .read-more:hover::after,
  .read-more:hover { 
    color: #32AF96; 
  }
}  